html{
    scroll-behavior: smooth;
    background-color: violet;
}

header h1{
    text-align: center;
    font-size: 5vw;
    color: blue;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top: 1vw;
}

header nav{
    margin-top: -3vw;
}

header img{
    width: 1.7vw;
}

header fieldset{
    width: 39vw;
    margin: 0 auto;
    text-align: center;
}

a{
    text-decoration: none;
}

.links_artigos{
    width: 10vw;
    margin: 0 auto;
}

.ul_artigos{
    list-style-type: circle;
    margin-left: 1em;
}

.links{
    font-weight: bold;
    font-size: 0.85vw;
    color: aliceblue;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.list_artigos{
    list-style-type: none;
}

.list_autores{
    text-align: justify;
}

#fast_news{
    background-color: aliceblue;
    border-radius: 1em;
}

#fast_news section{
    margin-left: 1%;
    margin-right: 3%;
}

footer fieldset{
    width: 30vw;
    margin: 0 auto;
    text-align: center;
}

footer h4{
    color: aliceblue;
    text-shadow: 0.1em 0.1em 0.2em black;

}

.direitos{
    color: white;
    font-weight: bolder ;
}

.redes_sociais{
    width: 1.7vw;
    
}

.img_cima{
    width: 2vw;
}



/* 
OK      O site de notícias deve ter uma página inicial que exiba uma lista de artigos recentes (min. de 10), cada um contendo um título, uma breve descrição e uma imagem representativa.

    Cada artigo na lista deve ser clicável e redirecionar para uma página individual do artigo, exibindo o título, a imagem, o conteúdo completo, autor e a data de publicação.

OK      O site deve incluir uma barra de navegação no topo, contendo links para as seções principais do site, como "Notícias Locais", "Política", "Esportes" e "Entretenimento".

OK      Na página inicial, deve haver uma tabela que exiba as notícias mais populares da semana (min. de 10), com colunas para o título, a data e o número de visualizações.

OK      Todas as páginas devem incluir um rodapé com informações de direitos autorais, links para as redes sociais e página de contato.

    (Desafio) O site deve aplicar as tags Open Graph para melhorar a experiência de compartilhamento em redes sociais, incluindo meta tags como título, descrição e imagem específicas para cada artigo.

OK      (Desafio) Na página inicial, deve ter uma seção "Assista em vídeo", com vídeos de noticias recentes (min. de 5). Para isso utilize o recurso de incorporação de vídeo do YouTube.

OK      Na página inicial, deve ter uma lista de classificação dos melhores autores de notícias(min. de 8), exibindo os nomes e a quantidade de artigos publicados por cada autor.

O site deve ter uma página de contato, contendo um formulário de contato com campos para nome, e-mail, assunto e mensagem.

O formulário de contato deve incluir uma lista suspensa com opções de assuntos de contato, permitindo que o usuário selecione o assunto apropriado.

Certifique-se de que todas as páginas estejam adequadamente conectadas por meio de hiperlinks, permitindo que o usuário navegue entre as diferentes notícias.

A página principal deve incluir links internos de navegação usando âncoras para permitir que os usuários acessem rapidamente seções específicas dentro da mesma página.

O layout do site deve ser construído utilizando apenas as tags e elementos HTML.

Observações:
    O design e a estrutura do site devem ser criados exclusivamente com as tags e elementos HTML disponíveis.

    O código-fonte do projeto deve estar organizado, identado e legível.

    Seja criativo ao desenvolver o layout e aproveite ao máximo as possibilidades do HTML para alcançar os requisitos. */
